<div class="container ">
  <div class="m-4 p-4 border border-2 bg-white shadow-lg">
    <h4 class="text-center text-info">Admin Creation Form</h4>
    <hr />
    <form [formGroup]="adminForm" (ngSubmit)="loginAdmin()">
      <div class="row m-4">
        <div class="form-floating col-md-6">
          <input
            placeholder="name"
            formControlName="name"
            class="form-control"
          />
          <label for="name" class="mx-2">Name</label>
        </div>
        <div class="form-floating col-md-6">
          <input
            type="password"
            placeholder="password"
            formControlName="password"
            class="form-control"
          />
          <label for="password" class="mx-2">Password</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="form-floating col-md-6">
          <input
            placeholder="email"
            formControlName="email"
            class="form-control"
          />
          <label for="email" class="mx-2">Email</label>
        </div>
        <div class="form-floating col-md-6">
          <input
            placeholder="adminId"
            formControlName="adminId"
            class="form-control"
          />
          <label for="adminId" class="mx-2">Admin ID</label>
        </div>
      </div>

      <div class="row m-4">
        <div class="form-floating">
          <input
            placeholder="role"
            formControlName="role"
            class="form-control"
            readonly
          />z
          <label for="role" class="mx-2">Role</label>
        </div>
      </div>
      <div class="d-grid justify-content-end m-4">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
