<div class="container ">
  <div class="m-4 p-4 border border-2 shadow-lg rounded ">
    <h2 class="text-center text-info">Student Application Form</h2>
    <hr style="width: 50%; margin: auto" />
    <br />
    <form [formGroup]="studentForm" (ngSubmit)="submitForm()">
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter First Name"
            formControlName="firstName"
          />
          <label class="ms-2">First Name</label>
        </div>
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Last Name"
            formControlName="lastName"
          />
          <label class="ms-2">Last Name</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
          />
          <label class="ms-2">Email</label>
        </div>
        <div class="col-md-6 form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            formControlName="password"
          />
          <label class="ms-2">Password</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Student Id"
            formControlName="studentId"
            [readOnly]="isEditMode"
          />
          <label class="ms-2">Student Id</label>
        </div>
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Role"
            formControlName="role"
            readonly
          />
          <label class="ms-2">Role</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          
          <input
            type="file"
            class="form-control"
            (change)="onFileSelected($event)"
            accept="image/*"
            placeholder="upload profile"
          
          />
          <label class="ms-2">Profile picture</label>
        </div>
        <div class="col-md-6 form-floating">
          <select
            class="form-select"
            formControlName="department"
            id="department"
          >
            <option value="">Select Department</option>
            <option *ngFor="let department of departments">
              {{ department }}
            </option>
          </select>
          <label class="ms-2" for="department">Department</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Roll Number"
            formControlName="rollNumber"
          />
          <label class="ms-2">Roll Number</label>
        </div>
        <div class="col-md-6 form-floating">
          <input
            type="date"
            class="form-control"
            placeholder="Enter Admission Date"
            formControlName="admissionDate"
          />
          <label class="ms-2">Admission Date</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-4 form-floating">
          <select class="form-select" formControlName="gender" id="gender">
            <option value="">Select Gender</option>
            <option *ngFor="let gender of gender">{{ gender }}</option>
          </select>
          <label class="ms-2" for="gender">Gender</label>
        </div>
        <div class="col-md-4 form-floating">
          <input
            type="date"
            class="form-control"
            placeholder="Enter DOB"
            formControlName="dob"
          />
          <label class="ms-2">Date of Birth</label>
        </div>
        <div class="col-md-4 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Age"
            formControlName="age"
            readonly
          />
          <label class="ms-2">Age</label>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Address"
            formControlName="address"
          />
          <label class="ms-2">Address</label>
        </div>
        <div class="col-md-6 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Phone"
            formControlName="phone"
          />
          <label class="ms-2">Phone</label>
        </div>
        
      </div>
      <div class="d-grid justify-content-end m-4">
        <button class="btn btn-success" type="submit">
          {{ isEditMode ? "Update" : "Submit"}}
        </button>
      </div>
    </form>
  </div>
</div>
